/* @font-face {
    font-family: 'Readex Pro';
    src: url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');
} */

footer {
    background: #aaa;
    color: white;
}

body {
    /* background-color: grey; */
    height: 100%;
}

.table {
    display: table;
    /* text-align: center; */
}

.tableRow {
    display: table-row;
}

.tableCell {
    display: table-cell;
}

.padLeft {
    /* font-family: 'Readex Pro', sans-serif; */
    font-size: large;
    padding-left: 30px;
}

.edit {
    float: right;
    padding-right: 0px auto;
}

.center-block {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.restaurantTable {
    display: table;
    margin: 0 auto;
}

.center {
    width: 200px;
    height: 100px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.carousel {
    text-align: center;
    width: 640px;
    height: auto;
    margin: auto;

}

.carousel-inner {
    text-align: center;

}

.carousel-inner>.carousel-item>img {
    width: 75%;
    height: 350px;
}

#search {
    position: relative;
    margin: auto;
    text-align: left;
    padding-left: 90px;
    padding-top: 50px;

}

#nav {
    background-color: #353839;
    /* height: 110px; */
}

#btnCollapse {
    vertical-align: -17px;
    margin: 5px;
    width: 50px;
    height: auto;

}

/* 
#logo {
    margin: 0;
    top: 10px;
    display: block;
    position: absolute;
    left: calc((100% - 260.11px) / 2);
    z-index: 100000;
} */